{% extends 'base.html.twig' %}
{% block name %}
    <h1>Product list</h1>
{% endblock %}
{% block body %}
    <div class="btn-group button_group" role="group" aria-label="...">
        <a href="{{ path('product_new') }}" class="btn btn-primary">Crear nuevo <strong>Producto</strong></a>
    </div>
    <div class="count">
        <h3>Total de productos: <strong>{{ pagination.getTotalItemCount }}</strong></h3>
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <table  class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Codigo', 'p.codigo') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nombre', 'p.nombre') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Descripcion', 'p.descripcion') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Marca', 'p.marca') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Categoria', 'p.categoria') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Precio', 'p.codigo') }}</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr>
                <td>{{ product.codigo }}</td>
                <td>{{ product.nombre }}</td>
                <td>{{ product.descripcion }}</td>
                <td>{{ product.marca }}</td>
                <td>{{ product.categoria }}</td>
                <td>{{ product.precio }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Acción
                            <span class="caret"></span>
                        </button>
                        <ul  class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                            </li>
                        </ul>
                        </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
