{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product</h1>

    <table  class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ product.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ product.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ product.descripcion }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ product.marca }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ product.categoria }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ product.precio }}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group button_group" role="group" aria-label="...">
        <div style="float: left; margin-left: 30px;">
            {{ form_start(delete_form) }}
                <input type="submit" value="Borrar" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
        <a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-warning">Editar</a>
        <a href="{{ path('product_index') }}" class="btn btn-primary">Volver</a>
    </div>

{% endblock %}
